<p>Hi, I'm Stuart Butler, I'm currently the Course Director of Games Technology at Staffordshire University and an Authorized Unreal Instructor.</p>
<p>&nbsp;</p>
<p>I've been working in games education since 2009 when I joined Staffordshire University as a Lecturer after releasing the second and third entries into the TT Superbikes series on Playstation 2 with Jester Interactive in 2008.&nbsp;</p>
<p>&nbsp;</p>
<p>I have published titles as a vehicle art, games design, animation and technical design/art roles as well as contributed to academic publications in Supply Chain Management and Virtual Reality with a mix of academics from across Europe.</p>
<p>&nbsp;</p>
<p>More recently I have contributed to Epic Games' online course provision with courses based around the Stack Bot project introducing new users to building third person characters and collectable item games.</p>
<p>&nbsp;</p>
<p>This website documents my previous projects as well as newer pieces I plan to post in the coming months.</p>
<p>&nbsp;</p>
<p>Thanks for visiting and please do check out my projects page from the button below.&nbsp;</p>